:root {
  --colorgraygray-900: rgba(16, 24, 40, 1);
  --colorgraygray-600: rgba(71, 84, 103, 1);
  --primary: rgba(97, 36, 17, 1);
  --colorgraygray-500: rgba(102, 112, 133, 1);
  --colorgraygray-700: rgba(52, 64, 84, 1);
  --colorsystemwhite: rgba(255, 255, 255, 1);
  --colorgraygray-400: rgba(152, 162, 179, 1);
  --colorbackgroundbg-2: rgba(255, 243, 234, 1);
  --colorgraygray-100: rgba(242, 244, 247, 1);
  --colorgraygray-200: rgba(228, 231, 236, 1);
  --secondary: rgba(206, 134, 94, 1);
  --text-single-200-regular-font-family: "DM Sans", Helvetica;
  --text-single-200-regular-font-weight: 400;
  --text-single-200-regular-font-size: 18px;
  --text-single-200-regular-letter-spacing: 0px;
  --text-single-200-regular-line-height: 18px;
  --text-single-200-regular-font-style: normal;
  --text-single-100-bold-font-family: "DM Sans", Helvetica;
  --text-single-100-bold-font-weight: 700;
  --text-single-100-bold-font-size: 16px;
  --text-single-100-bold-letter-spacing: 0px;
  --text-single-100-bold-line-height: 18px;
  --text-single-100-bold-font-style: normal;
  --headings-h1-font-family: "DM Sans", Helvetica;
  --headings-h1-font-weight: 700;
  --headings-h1-font-size: 56px;
  --headings-h1-letter-spacing: 0px;
  --headings-h1-line-height: 66px;
  --headings-h1-font-style: normal;
  --body-default-font-family: "DM Sans", Helvetica;
  --body-default-font-weight: 400;
  --body-default-font-size: 18px;
  --body-default-letter-spacing: 0px;
  --body-default-line-height: 30px;
  --body-default-font-style: normal;
  --text-single-100-regular-font-family: "DM Sans", Helvetica;
  --text-single-100-regular-font-weight: 400;
  --text-single-100-regular-font-size: 16px;
  --text-single-100-regular-letter-spacing: 0px;
  --text-single-100-regular-line-height: 18px;
  --text-single-100-regular-font-style: normal;
  --text-single-200-bold-font-family: "DM Sans", Helvetica;
  --text-single-200-bold-font-weight: 700;
  --text-single-200-bold-font-size: 18px;
  --text-single-200-bold-letter-spacing: 0px;
  --text-single-200-bold-line-height: 18px;
  --text-single-200-bold-font-style: normal;
  --headings-h2-font-family: "DM Sans", Helvetica;
  --headings-h2-font-weight: 700;
  --headings-h2-font-size: 36px;
  --headings-h2-letter-spacing: 0px;
  --headings-h2-line-height: 46px;
  --headings-h2-font-style: normal;
  --heading-heading-1-font-family: "Chivo", Helvetica;
  --heading-heading-1-font-weight: 700;
  --heading-heading-1-font-size: 56px;
  --heading-heading-1-letter-spacing: -0.56px;
  --heading-heading-1-line-height: 64px;
  --heading-heading-1-font-style: normal;
  --body-text-md-font-family: "Noto Sans", Helvetica;
  --body-text-md-font-weight: 400;
  --body-text-md-font-size: 14px;
  --body-text-md-letter-spacing: 0px;
  --body-text-md-line-height: normal;
  --body-text-md-font-style: normal;
  --heading-heading-6-font-family: "Chivo", Helvetica;
  --heading-heading-6-font-weight: 700;
  --heading-heading-6-font-size: 18px;
  --heading-heading-6-letter-spacing: 0px;
  --heading-heading-6-line-height: 22px;
  --heading-heading-6-font-style: normal;
  --body-capitalized-font-family: "Noto Sans", Helvetica;
  --body-capitalized-font-weight: 400;
  --body-capitalized-font-size: 14px;
  --body-capitalized-letter-spacing: 2px;
  --body-capitalized-line-height: normal;
  --body-capitalized-font-style: normal;
}
